<div>
    <p>Today is</p>
    <p>
      {{message1}}
        </p>
        <p>
            {{dateMessage}}
            </p>
            <p>
                    {{datemessage1}}
                    </p>
                    <p>
                            {{marks}}
                     </p>    
                  <p>
                 {{flag2}}
                     </p>  
                       <p>
                    {{y}}
                        </p>  
                         <p>
                      {{ids}}
                        </p> 
                         <p>
                        {{h}}
                        </p> 
                        <p>
                        {{addtwonum(1,5)}}
                        </p> 
            </div> 
            <hr>
            <button type="submit">Submit</button>